h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

h3 {
  font-size: 1rem;
}

main {
  width: 65%;
  margin: auto;
  background-color: white;
  padding-top: 5rem;
  height: 45rem;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
}
